:root {
  --navy: #344256;
  --yellow: #f3d900;
  --offWhite: #f9f8f7;
  --offBlack: #1a212b;
  --borderGrey: #d3d3d3;
  --bgGrey: #eaedef;
}

body {
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: var(--offBlack);
}

.inner-container {
  /* margin: 0 auto; */
  padding: 3rem 1.5rem;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Typography */
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--navy);
  line-height: 39.6px;
}
h3 {
  color: var(--navy);
  font-size: 1.25rem;
  font-weight: bold;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--navy);
  margin-bottom: 1rem;
}
p {
  padding: 1rem 0;
}

/* Header */
header {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
header .inner-container {
  padding: 0;
}
.hamburger-btn {
  background-color: var(--yellow);
  border-radius: 50%;
  border: none;
  padding: 1.125rem;
  vertical-align: middle;
  cursor: pointer;
}
button,
svg {
  display: inline-block;
  vertical-align: middle;
}
header {
  box-shadow: 0px 6px 4px -4px var(--bgGrey);
}
header div.flex {
  padding: 0.5rem 0.8125rem 0.5rem 1.5rem;
}
header nav li {
  border-bottom: 1px solid var(--borderGrey);
}
header nav {
  border-top: 1px solid var(--borderGrey);
  margin: 1.5rem 0 3rem;
}
.toggle-nav {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #f9f8f7;
  left: 0;
  width: 100%;
  transition: all 0.7s ease-in-out;
}
.show-nav {
  max-height: 100vh;
}
.menu li a {
  text-decoration: none;
  color: var(--navy);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 2;
  padding-left: 1.5rem;
  display: block;
}

/* Banner Search */

input {
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--navy);
  border-right: none;
  height: 2.5rem;
  padding: 0.5rem;
}
.magnifying-glass {
  border: none;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--navy);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.search form {
  margin-top: 6px;
  display: flex;
}

/* Section Network */
.network {
  background-color: var(--navy);
}
/* Philosophy */
.philosophy h2,
.philosophy p {
  color: white;
}
a svg {
  width: 26px;
  height: 26px;
  fill: var(--navy);
}
.utility-button {
  margin: 0.5rem 0 1.5rem;
}
.utility-button a {
  text-decoration: none;
  color: var(--navy);
  background-color: var(--yellow);
  padding: 1rem;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}

/* Articles */
.articles {
  background-color: white;
  border-radius: 10px;
}
article {
  padding: 3rem 0.5rem 0;
}
article a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: var(--navy);
  border-bottom: 2px solid var(--yellow);
}
article:last-of-type {
  padding-bottom: 3rem;
}

/* What we Do */
.what-we-do {
  padding: 3rem 1.5rem;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.row {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
}
.row::-webkit-scrollbar {
  background: transparent;
  width: 0;
}
.row:first-of-type {
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}
.row div {
  display: flex;
  margin-right: 1rem;
  flex: 0 0 210px;
}
.row div p {
  color: var(--navy);
  font-weight: bold;
  padding: 0;
}
.row div img {
  border-radius: 10px;
  margin-right: 0.5rem;
}

/* Need Us */
.need-us {
  background-color: var(--bgGrey);
}
.cards {
  margin-top: 0.5rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 3rem;
  box-shadow: 0px 3px 6px 0px var(--borderGrey);
}
.card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.card-body {
  padding: 1.2rem 0.5rem 0.5rem;
}

.need-us .utility-button {
  margin: 0;
}
/* Newsletter */
.newsletter {
  background-color: var(--navy);
  color: white;
}
.newsletter h2 {
  color: white;
}
.sign-up-form {
  display: flex;
  align-items: center;
}
.sign-up-form input {
  border: none;
  border-right: 1px solid var(--navy);
}
.sign-up-btn {
  border: none;
  background-color: white;
  min-width: 4.25rem;
  height: 2.5rem;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  color: var(--offBlack);
}

/* Footer */
.footer-body {
  padding: 3rem 1.5rem;
}
.footer-nav {
  margin: 2rem 0;
}
.nav-items {
  line-height: 33px;
}
.company-email a {
  text-decoration: none;
  color: var(--offBlack);
  border-bottom: 2px solid var(--yellow);
}
.copyright {
  background-color: var(--navy);
  color: white;
}
.copyright p {
  padding: 0;
}
footer .inner-container {
  padding: 2rem 1.5rem;
}

/*  Form page*/
.step {
  padding: 1rem 0;
}
.form form {
  background-color: var(--navy);
}
.form .inner-container {
  padding-top: 0.5rem;
}
.form .form-title {
  padding: 3rem 0;
  background-image: url(../img/form-bg-sm.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.form form {
  color: white;
}
.form form label {
  font-weight: bold;
}
.input-group {
  margin-top: 1.5rem;
}
.form form input,
.form textarea {
  border-radius: 10px;
  margin-top: 0.25rem;
  border: 1px solid var(--borderGrey);
}
.input-group span {
  color: red;
}
.form textarea {
  width: 100%;
  resize: vertical;
  min-height: 350px;
  padding: 0.5rem;
}
.form button {
  color: var(--navy);
  background-color: var(--yellow);
  padding: 1rem 1.5rem 1rem 3.5rem;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-image: url(../img/arrow.svg);
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 1.5rem center;
  border: 1px solid var(--yellow);
  margin-top: 1.5rem;
}

/* Media Queries */

@media only screen and (min-width: 750px) {
  h2 {
    font-size: 48px;
    line-height: 52.8px;
  }
  .search form {
    margin-top: 2rem;
  }
  /* Articles */
  .articles {
    background-color: var(--navy);
    border-radius: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 3rem;
    flex: 0 0 48.5%;
  }

  article:nth-of-type(1),
  article:nth-of-type(2) {
    margin-bottom: 1.5rem;
  }

  /* Cards */
  .card {
    display: flex;
    align-items: center;
  }
  .card img {
    border-radius: 10px 0 0 10px;
    min-width: 370px;
    height: 100%;
  }
  .card-body {
    padding: 1.5rem;
  }

  /* Footer */
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer-nav {
    margin: 2rem 3.5rem 0 0;
  }

  /* Form Page  */
  .how-it-works {
    height: 425px;
  }
  .steps {
    display: flex;
    flex-flow: column wrap;
    height: 18rem;
    justify-content: flex-start;
    align-content: space-between;
  }
  .step {
    width: 45%;
  }
  .form .form-title {
    background-image: url(../img/form-bg-md.jpg);
  }

  .input-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .input-group {
    flex: 0 0 48%;
  }
  .form textarea {
    min-height: 174px;
  }
}
@media only screen and (min-width: 1240px) {
  .inner-container,
  .what-we-do,
  .footer-body {
    width: 1160px;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .hamburger-btn {
    visibility: hidden;
    opacity: 0;
  }
  header .inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  header div.flex {
    padding: 0;
  }

  .toggle-nav {
    position: static;
    max-height: initial;
    width: auto;
    background-color: white;
  }
  .menu {
    display: flex;
    border: none;
    background-color: white;
  }
  .menu li {
    border: none;
  }
  header nav {
    border: none;
    margin: 1.5rem 3rem;
  }
  .menu li a {
    font-size: 18px;
    line-height: 1;
  }
  .search form,
  .sign-up-form {
    width: 570px;
  }
  /* Gallery */
  .gallery .row {
    width: 100%;
    justify-content: space-between;
  }

  /* Network */
  .network .inner-container {
    display: flex;
    justify-content: space-between;
  }
  .philosophy {
    padding-right: 1.5rem;
  }
  .gallery .row {
    overflow: unset;
  }

  /* Need Us */
  .cards {
    display: flex;
    justify-content: space-between;
  }
  .card {
    max-width: 370px;
    flex-flow: column;
  }
  .card img {
    border-radius: 10px 10px 0 0;
  }

  /* Footer */
  .footer-body {
    display: flex;
    justify-content: space-between;
  }
  .footer-body a {
    flex: 1 1 25%;
  }
  .footer-nav {
    margin-right: 7.5rem;
  }
  .wrapper {
    flex: 1 1 75%;
  }

  /* Form Page */
  .steps {
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
  }
  .how-it-works {
    height: fit-content;
  }

  .step {
    margin-right: 1.5rem;
  }
  .form textarea {
    display: block;
    width: 48%;
    min-height: 226px;
  }
  .form .form-title {
    background-image: url(../img/form-bg-lg.jpg);
  }
}
